#root {
	max-width: 970px;
	margin: 0 auto;
	padding: 2rem;
	text-align: left;
}

.inputs {
	text-align: center;
}

p,
h1 {
	white-space: normal;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
